*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    background-image: url(https://images.unsplash.com/photo-1609602644879-dd158c2b56b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-attachment: fixed;
    overflow-x: hidden;
}
.main_logo{
    letter-spacing: 3px;
    font-size: 20px;
    color: gold;
    font-family: 'Dancing Script', cursive;
}
.tag{
    letter-spacing: 16px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.nav{
    margin-left: 50px;
}
ul{
    margin-right: 500px;
}
li{
    color: white;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
li:hover{
    color: gold;
}
.gold{
    color: gold;
}
.dropdown-menu .dropdown-item:hover{
    background-color: rgb(32, 34, 38);
    color: gold;
}
.mySlides{
    display: none;
}
.image{
    height: 30px;
    width: 30px;
    color: white;
}

.account{
    margin-right: 10px;
}
.content{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 100%;
    grid-template-rows: 750px auto;
    grid-template-areas: "slide"
                         "main";
}
.slideshow-container{
    grid-area: slide;
    max-width: 1000px;
    max-height: 750px;
    position: relative;
}
.main_content{
    grid-area: main;
    display: grid;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: 150px 70px 280px 500px 500px 420px;
    grid-template-areas: "snav"
                         "sub"
                         "price"
                         "catogery"
                         "review"
                         "reviews";
}
.reviews{
    display: grid;
    grid-area: reviews;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 420px;
    grid-template-areas: "1 2 3 4 5";
}
.item_1{
    grid-area: 1;
}
.item_2{
    grid-area: 2;
}.item_3{
    grid-area: 3;
}
.item_4{
    grid-area: 4;
}
.item_5{
    grid-area: 5;
}
.card{
    font-size: 10px;
    color: grey;
}
.reviews{
    display: flex;
}
.card img{
    height: 250px;
    width: 290px;
    padding: 0;
}
.card p{
    padding: 0;
    margin: 0;
}
.card .btn{
    padding: 5px;
    border: 2px solid grey;
    margin-top: 20px;
    color: grey;
}
.card .btn:hover{
    background-color: gold;
    color: black;
}
.s_nav{
    grid-area: snav;
}
.sub_content{
    grid-area: sub;
    background-color: black;
}
.sub_content p{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px #808080;
    color: gold;
    font-family: 'Fredoka One', cursive;
}
.pricing{
    grid-area: price;
    width: 100%;
}
.catogery{
    grid-area: catogery;
    background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}
.review{
    grid-area: review;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "pico desc";
    
}
.review .picture{
    grid-area: pico;
}
.picture img{
    height: 500px;
    width: 768px;
    margin: 0;
}
.review .description{
    grid-area: desc;
    color: grey;
}
.description h1{
    text-align: center;
    margin-top: 60px;
}
.description p{
    text-align: center;
    margin: 60px 40px 40px 80px;
    width: 600px;
}
img{
    display: flex;
    width: 98vw;
    height: 700px;
    margin: 10px;
    vertical-align: middle;
    align-items: center;
}
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.slide_pics{
    margin-left: 50%;
}
.active {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    .menu_items{flex-direction: column;}
    .account{flex-direction: column;}
    .accordion{display: inline-block;}
}
.s_nav{
    display: grid;
    margin-top: 0;
    padding: 0px;
}
.s_nav img{
    height: 25px;
    width: 25px;
}
.address div{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 50px;
}
.address{
    display: flex;
    margin-left: 30px;
}
.social_media{
    display: flex;
    align-items: center;
    padding: 50px 35% 45px 40px;
    background-color: gold;
}
.social_media a{
    margin-right: 30px;
}
.accordion{
    display: flex;
}
.accordion-header{
    padding: 10px 220px;
}
.accordion-button p{
    width: 100px;
    text-align: center;
    margin-top: 10px;
    color: gold;
}
.accordion-body a{
    display: flex;
    text-decoration: none;
    color: white;
}
.accordion-body a:hover{
    color: gold;
}
.services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    color: black;
}
.services img{
    height: 70px;
    width: 70px;
}
.one,.two,.three{
    height: 100px;
    width: 200px;
    text-align: center;
}
.one img{
    margin-left: 50px;
}
.two img{
    margin-left: 50px;
}
.three img{
    margin-left: 50px;
}
.services strong{
    font-size: 25px;
}
.services p{
    font-size: 15px;
    font-weight: 400;
}
.catogery h1{
    margin-top: 50px;
    font-weight: 1000;
    color: black;
    text-shadow: 5px 5px 10px grey;
}
.more_items span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 50px;
    background-color: gold;
    font-family: 'Fredoka One', cursive;
    font-family: 'Righteous', cursive;
}
.item_s img{
    height: 200px;
    width: 200px;
}
.item_s{
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 40%;
    margin-top: 30px;
}
.more{
    margin-top: 100px;
    margin-bottom: 100px;
}
.item_s .order_item{
    font-size: 30px;
    text-decoration: none;
    color: gold;
}
.price{
    margin: 20px;
}
.price p{
    color: grey;
    font-size: 20px;
}
.price .order{
    text-decoration: none;
    padding: 7px;
    color: gold;
    border: 2px solid gold;
    border-radius: 8px;
}
.price .order:hover{
    background-color: gold;
    color: black;
}
.final{
    display: flex;
    justify-content: space-evenly;
}
.contact{
    margin: 100px 0 60px 0;
    color: white;
}
.contact img{
    height: 20px;
    width: 20px;
}
.about{
    color: white;
    margin: 100px 0 60px 0;
}
.about p{
    margin-top: 10px;
    width: 200px;
}
.services_f{
    display: flex;
    flex-direction: column;
    margin: 100px 0 60px 0;
}
.services_f a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.services_f h3{
    color: white;
}
.contact div{
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}
.final_c{
    display: flex;
    justify-content: center;
    color: grey;
}
.final_c a{
    text-decoration: none;
    color: grey;
}